h1 {
    text-align: center;
    
}

.Grid {
    display: inline-grid;
    height: 23px;
    width: 23px;
    border: 1px solid black;
}

#btn1 {
}

#container {
    margin: auto;
    width: 400px;
    height: 400px;
}